manifest.mf
build.xml
node_modules/*
npm-debug.log
*.js
!config/*
!karma.conf.js
!webpack.config.js
*.map
*.d.ts
!make.js
!typings/*.d.ts
!examples/**/*.js
coverage
*.metadata.json
bundles

.idea
.project
.settings

Thumbs.db
Desktop.ini
# Mac crap
.DS_Store
